.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.rounded {
    border-radius: 100px;
}

.bold {
    font-weight: bold;
}

.center {
    align-items: center;
    justify-content: center;
}

/* Buttons */
.filled-btn {
    background-color: #0d0c22;
    color: white;
    height: 45px;
    padding: 0 25px;
    border-radius: 100px;
    font-weight: bold;
    transition: all 0.3s;
}

.filled-btn:hover {
    opacity: 0.7;
}

.text-btn {
    background-color: transparent;
    height: 45px;
    color: #0d0c22;
    padding: 0 25px;
    font-weight: bold;
    transition: all 0.3s;
}

.text-btn:hover {
    opacity: 0.7;
}

