@font-face {
    font-family: 'Jersey25';
    src: url('../assets/fonts/Jersey25-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jersey15';
    src: url('../assets/fonts/Jersey15-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.avatars-section{
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.avatars-section > h2{
    font-family: "Jersey25";
    font-size: 3em;
    color: white;
    font-size: 68px;
}
.avatars{
    display: flex;
    width: 100%;
    padding: 50px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;;
}
.avatars-containers{
    width: 350px;
    flex-grow: 1;
    max-width: 400px;
    min-width: 300px;
    background-color: #e2e2e2;
    border-radius: 5px;
    align-items: center;

}
.avatar-info{
    align-items: center;
    justify-content: center;
}
.avatar-info > h4{
    text-align: center;
    font-family: "Jersey15";
    font-size: 35px;

}
.divider {
    width: 100%;
    border-bottom: 1px solid #100b20;
}
.avatar-power{
    align-items: center;
    justify-content: center;
}
.health-img{
    padding-top: 2px;;
    height:22px;
}
.attack-img{
    height:22px;
}
.super-img{
    height:22px;
}
.health > p{
    font-family: "Jersey15";
    font-size: 25px;
    margin-right: 5px;
}
.attack > p{
    font-family: "Jersey15";
    font-size: 25px;
    margin-right: 5px;
}
.super > p{
    font-family: "Jersey15";
    font-size: 25px;
    margin-right: 5px;
}

